<div
  id="todo-item"
  [ngClass]="{ 'border-2 border border-primary': !todo.active }"
  class="d-flex shadow mb-3 p-3"
>
  <div class="border-end me-3">
    <h6 class="me-3 px-3">{{ index + 1 }}.</h6>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      [ngClass]="{ 'text-primary': !todo.active }"
      class="bi bi-check-circle-fill mark-as-done"
      viewBox="0 0 16 16"
      (click)="MarkAsDone(todo)"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
      />
    </svg>
  </div>
  <div class="w-100">
    <h6 [ngClass]="{ strike: todo.active }">{{ todo.title }}</h6>
    <p>{{ todo.desc }}</p>
  </div>

  <div>
    <div *ngIf="!todo.active">
      <p class="small text-muted mb-1 text-decoration-underline">Completed</p>
    </div>
    <button class="btn btn-outline-danger my-auto" (click)="ItemDelete(todo)">
      Delete
    </button>
  </div>
</div>
